/PeopleListInFile./nbproject/private/
/FileSaveRead./nbproject/private/
/RandArray./nbproject/private/
/SimpleCalc./nbproject/private/
/PeopleListInFile./build/
/RandArray./build/
/Exeptions/nbproject/private/
/Exeptions/build/
/Quiz1Students/nbproject/private/
/Quiz1Students/build/
/Practice/nbproject/private/
/Practice/build/
/People1/nbproject/private/
/People1/build/
/PeopleFromFile/nbproject/private/
/PeopleFromFile/build/
/DemandingPeople/nbproject/private/
/DemandingPeople/build/
/AirportTravel/nbproject/private/
/AirportTravel/build/
/SimpleCalc./build/
/FileSaveRead./build/
/Passport/nbproject/private/
/Quiz2Passports/nbproject/private/
/Quiz2Passports/build/
/CountMe/nbproject/private/
/CountMe/build/
/FanClass/nbproject/private/
/FanClass/build/
/myInteger/nbproject/private/
/myClass Integer/nbproject/private/
/myClass Integer/build/
/The MyDate Class/nbproject/private/
/The MyDate Class/build/
/PeoppleTypes/nbproject/private/
/PeoppleTypes/build/
/ManyPeople/nbproject/private/
/ManyPeople/build/
/Geometry/nbproject/private/
/Geometry/build/
/Geometry/dist/
/Geometry1/nbproject/private/
/Geometry1/build/
/EX118Accounts/nbproject/private/
/EX118Accounts/build/
/GeometryR/nbproject/private/
/GeometryR/build/
/TempWorkers/nbproject/private/
/TempWorkers/build/
/Geometry1/dist/
/Quiz3Moto/nbproject/private/
/Quiz3Moto/build/
/Quiz3MotoR/nbproject/private/
/GoCompare/nbproject/private/
/GoCompare/build/
/Quiz3MotoSolution/nbproject/private/
/SoccorRanking/nbproject/private/
/SoccorRanking/build/
/Marine/nbproject/private/
/Marine/build/